.mobile-product-card{
    display: none;
}

.product-table {
    
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra ligera para profundidad */
    margin-bottom: 20px; /* Espacio debajo de la tabla */
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #fff; /* Fondo claro para las celdas */
}

.product-table th {
    background-color: #666666; /* Color distintivo para los encabezados */
    color: white;
    font-weight: normal;
}


.product-table td {
    text-align: left;
}

.product-table td.actions {
    text-align: center;
}


/* Diseño para los íconos */
.product-table .bi {
    font-size: 1.2em;
    cursor: pointer;
    padding: 3px;
    margin: 0 5px;
}

.product-table .bi:hover {
    color: #0056b3; /* Efecto hover para los íconos */
}

@media screen and (max-width: 768px) {
    .product-table{
        display: none;
    }
    .mobile-product-card {
        display: block;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 7px;
        border-radius: 5px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    
    .mobile-product-card h3 {
        margin-top: 0;
        margin-bottom: 7px;
    }
    
    .mobile-product-card .description {
        color: #666;
        font-size: 0.9em;
        margin-top: 7px;
    }

    .mobile-product-card .art {
        margin-top: 5px;
        color: #666;
        font-size: 0.9em;
    }
    
    .product-details {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .product-actions {
        text-align: center;
        margin-top: 10px;
    }
    
    .product-actions .bi {
        font-size: 1.2em;
        margin: 0 5px;
    }
}

