.main_style {

    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10%;
    
}

.sitio-en-contruccion{
    justify-content: center;
    align-items: center;

}
.sitio-en-contruccion img{
    object-fit: contain;
    width: 100%;
}


@media (min-width: 481px) {


}
   