body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ---Header---*/

.header_style {
    color: #ffffff;
}

.header_logo {
    height: 18px;
}

.fc-header{
    display: flex;  
    justify-content: space-between; 
    flex-wrap: nowrap;
    flex-direction: row;
    color: #ffffff;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fc-header-item-menu {
    height: 22px;
    background-color: #3A3A3A;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.fc-header-item-icon {
    margin-right: 20px;
}

.fc-header-item-nav-bar{
    height: 22px;
    width: 90%;
    text-align: center;
}

.fc-header-item-logo {
    display: flex;
    align-items: center;
}

.icon-burguer-menu {
    height: 14px;
}

.fc-nav-bar-item a {
    height: 18px;
} 

.fc-nav-bar {
    height: auto;
    font-size: 18px;
    display: flex;
    justify-content: space-around; 
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: #C5FF49;
}

.active-page a {
    text-decoration: underline #C5FF49;
}

.shopping-cart {
    position: relative;
}

.products-number {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #C5FF49;
    font-size: 7px;
    height: 10px;
    width: 10px;
    right: -8px;
    top: -1px;
    text-align: center;
    color: #3A3A3A;
    font-weight: bold;
}

/* ---Main---*/

.main_style{
    background-color: #101010;
    color: #ffffff;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.fc-main-style {
    display: flex;
    justify-content: space-between;
}

.fc-main-style-item-letter {
    display: flex;
    flex-direction: column;
    max-width: 325px;
    min-height: 550px;
    align-items: center;
    justify-content: center;
}



.container-bt-galeria {
    width: 100%;
    margin-top: 20px;
}

.bt-galeria {
    text-align: center;
    background-color: #C5FF49;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-bt-galeria a {
    text-decoration: none;
    color: #ffffff;
}


/* ---Footer---*/

.footer_style{
    background-color: #3A3A3A;
    color: #ffffff;
    font-size: 16px;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.fc-footer-menu-item-logos-pagos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.fc-footer-menu-item-logos-pagos > .footer-logo {
    margin: 3px;
}

.footer-logo {
    height: 18px;
    margin-right: 10px;
}

.fc-email-form {
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.fc-email-form-bar {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #ffffff;
    padding-right: 40px;
    padding-left: 10px;
    width: 200px;
    height: 100%;
}

.plane-button {
    position: absolute;
    right: 0px;
    border: none;
    background-color: #ffffff;
    height: 30px;
    width: 40px;
    font-size: 20px;
}

.footer-copyright {
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}

.redes-nav {
    display: flex;
    justify-content: space-around;
}

/* ---General---*/

.color_white{
    color: white;
}

.color_grey {
    color:#3A3A3A;
}

.sz-200 {
    font-size: 50px;
}

.display-none {
    display: none;
}

.fc {
    display: flex;
}
 
.input_strings{
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 40px;
    width: 50%;
    border-style: solid;
    border-color: #18c312;
    border-width: 1.5px;
    margin-top: 10px;
}

.button{
    border-radius: 6px;
    background-color: #18c312;
    border-color: transparent;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.fc-buttons{
    display: flex;
    justify-content: space-around; 
    width: 20%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.w-25 {
    width: 25px;
}

.w-257 {
    width: 257px;
}

.w-130 {
    width: 130px;
}
.w-150 {
    width: 150px;
}

.w-332 {
    width: 332px;
}

.vw-90 {
    width: 90vw;
}

.bg-grey {
    background-color: #101010;;
}

.p-1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.bg-none {
    background-color: none;
}

.dev-letras {
    color: #C5FF49;
}

/* ---Responsive---*/

/*Tablets*/
@media (max-width: 768px) {      
    .md-mobile-no-display {
        display: none;
    }
    .md-gap-20 {
        margin-bottom: 20px;
    }
}

/*Desktop*/
@media (min-width: 768px) {  
     .md-higher-mobile-no-display {
        display: none;
    }
    .md-fc-footer-menu {
        display: flex;
    }
    .md-fc-main-style-item-img {
        display: flex;
        align-items: end;
        max-width: 550px;
    }
    .md-img-main {
        height: 550px;
    }
    .md-fc-main-style-item-letter {
        max-width: 500px;
    }
}
