/* PRODUCT DETAIL STYLES*/
.title-1{
    font-size: 22px;
 }

 .title-2{
    font-size: 20px;
 }

 
 .title-2{
    font-size: 18px;
 }

.PD-fc-articles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around 
}

.PD-fc-articles-item{
    flex-grow: 1;
}

.PD-flex-container-products {
    display: flex;  
    flex-wrap: nowrap;
    flex-direction: column;
    flex-shrink: 1;
    margin-bottom: 10px;
}

.PD-product-image{
    text-align: left;
    margin: 10px;

}
.PD-flex-container-products-item {
    margin-top: 5px;
    padding-top: 12px;
}
.PD-flex-container-products-detail{
    margin-top: 5px;
    padding-top: 12px;
    width: 100%;
}

.PD-flex-container-products-amount{
    margin-top: 5px;
    padding-top: 12px;
    width: 100%;
    justify-content: space-around;
}

.PD-flex-container-products-item-colors {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
}

.PD-flex-container-products-item-color {
    width:  25px;
    text-align: center;
    color: white;
    background-color: black;
    border: solid 1px white;
    border-radius: 100%;
    margin-right: 5px;
}

.PD-flex-container-products-item-sizes {
    display: flex;
    width: 90%;
    padding-right: 8px;
}

.PD-flex-container-products-item-size {
    width: 30px;
    text-align: center;
    margin: 5px;
}

.PD-flex-container-products-amount{
    display: flex;  
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    margin-top: 10px;

}

.PD-flex-container-products-price {
    background-color: #969696;
    text-align: center;
    border-radius: 6px;
    font-size: 23px;
    margin-top: 10px;
}

.PD-flex-container-products-discount {
    color:#18c312;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.old-price {
    font-size: 18px;
    text-decoration: line-through;
    color: #555555;
}

.PD-brt-solid-ligthgrey-1px-p15px {
    border-top: solid 3px #555555;;
    padding: 15px;
}

.PD-item-color-red{
    border-radius: 50%;
    opacity: 0.75;
    background-color: red;
}
.PD-item-color-grey{
    border-radius: 50%;
    opacity: 0.75;
    background-color: grey;
}
.PD-item-color-orange{
    border-radius: 50%;
    opacity: 0.75;
    background-color: orange
}
.PD-item-color-blue{
    border-radius: 50%;
    opacity: 0.75;
    background-color: rgb(7, 7, 116);
}
.PD-item-size{
    border-radius: 3px;
    border: solid 1PX #fff;
    background-color: white;
    color: black;
    margin: 3px;
}

.PD-button{
    border-radius: 6px;
    background-color: #18c312;
    border-color: transparent;
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    opacity: 0.8;
    width: 100%;
}

.PD-delete-button{
    border-radius: 6px;
    background-color: #ff0000;
    border-color: transparent;
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    opacity: 0.8;
    width: 100%;
    cursor:pointer;
}

.PD-edit-button-text{
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.PD-edit-button-box {
    border-radius: 6px;
    background-color: #b38209;
    opacity: 0.8;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    border-color: transparent;
}

.PD-m-t-10px{
    margin-top: 10px;
}

@media (min-width: 768px) {      
    .PD-md-flex-row {
        flex-direction: row;
    }
    .PD-md-m-t-35p {
        margin-top: 35%;
    }
    .PD-flex-no-grow{
        flex-grow: 0;
    }
    .PD-md-m-t-40px{
        margin-top: 40px;
    }
    
}