.main_style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.productEdit-form {
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    text-align: center;
}

.title{
    justify-content: left;
    width: 90%;
padding: 10px;
padding-left: 0px;
    border-bottom: white 1px solid;
}

.label-productEdit-form {
    display: flex;
    margin-top: 15px;
    text-align: left;
}
.input-productEdit-form{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 16px;
    justify-content: left;
    align-items: left;
}
.select-productEdit-form{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 16px;
}




.buttom-productEdit-form{
    background-color: #c5ff49;
    width: 90%;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.red{
    background-color: red;
}


.checkbox-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.checkbox-subblock{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
.checkbox-group{
    padding: 5px;
    margin-top: 5px;
}
.checkbox-option{
    display: flex;
    padding: 5px;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
}
.checkbox-option label{
    margin-left: 5px;
}
.hexColor{
    margin-left: 5px;
    width: 15px;
    height: 15px;
    display:inline-block;
    border-radius: 100%;
    margin-bottom: 0px;
}



@media (min-width: 481px) {


    .productEdit-form{
        width: 90%;
    }

    .buttom-productEdit-form{
        font-size: 18px;
        width: 35%;
    }
    .buttoms{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        justify-content: space-between;
    }
    .checkbox-subblock{
        width: 50%;
    }



}
   