.main_style {
    background-color: #101010;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.title {
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 20px;
}

.table {
    margin: 0px;
    width: 100%;
}

th, td {
    padding: 10px;
}

td {
    border-bottom: solid 1px #ffffff;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

th {
    background-color: #3A3A3A;
    border-collapse: collapse;
    text-align: left;
}

.input-categoria-usuario {
    width: 140px;
}

.buttom-save-content {
    margin-bottom: 10px;
}
.buttom-save-form {
    background-color: #c5ff49;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.buscar-guardar-contariner {
    display: flex;
    justify-content: space-between;
}

.fc-search-form {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.fc-search-user-form-bar {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #ffffff;
    padding-right: 40px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.search-button {
    position: absolute;
    right: 0px;
    border: none;
    background-color: #ffffff;
    height: 30px;
    width: 40px;
    font-size: 20px;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.categoria-usuario-style {
    width: 200px;
}

.msg {
    padding-top: 20px;
    color: red;
    font-size: 20px;
    text-align: center;
}

.volver-button {
    background-color: #c5ff49;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.volver-button-box{
    text-align: center;
}