body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    color: white;
}

.logo {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.logo img {
    width: 150px;
    max-width: 100%; 
    max-height: 100%; 
}


.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #f9f9f9;
}

.search-box input {
    border: none;
    outline: none;
    margin-right: 5px;
}

.search-box i {
    color: black;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 180px;
    background-color: black;
    color: white;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}

.sidebar .menu.principal li {
    padding: 10px;
    cursor: pointer;
}

.sidebar .menu.principal li:hover {
    background-color: #727272;
}

.sidebar .menu.sesion {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    flex-grow: 1;
}

.sidebar .menu i {
    margin-right: 10px;
}


/* mviles */
@media screen and (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sidebar .menu {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
    }
    .sidebar .menu.sesion {
        position: relative; 
    }

    .sidebar .menu.principal li, .sidebar .menu.sesion li {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar .menu li i {
        display: block;
    }

    .sidebar .menu li span {
        display: none;
    }
    .container {
        width: 100%;
        
    }
}
