body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
}

.user {
  margin-left: 5px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #6fff82;
  border-radius: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 150px;
  max-width: 100%;
  max-height: 100%;
}


.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #f9f9f9;
}

.search-box input {
  border: none;
  outline: none;
  margin-right: 5px;
}

.search-box i {
  color: black;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}


.container {
  flex-grow: 1;
}



/* mviles */
@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  header {
    display: block;
  }

  .logo {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar {
    justify-content: space-between;

  }

  .search-box {
    width: 90%;
    justify-content: space-between;
  }

  .container {
    width: 100%;

  }
}