<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>    
    <title>DevVision</title>
</head>

<body class="bg-grey">
    <header class="header_style">    
        <%- include("partials/header") %>
     </header>
    <main class="main_style">
        <div class="fc-main-style md-gap-20">
            <div class="fc-main-style-item-letter md-fc-main-style-item-letter">
                <div>
                    <div class="color_white sz-200">Date Una Vuelta Por El <span class="dev-letras">DeVVision</span> Store</div>
                    <p class="color_grey">Somos Una Herramienta Que Te Ayuda A Alcanzar Tu Mayor Potencial Donde Estés Acompañando Tu Estilo, Sumanos Y Crece...</p>
                </div>
                <div class="container-bt-galeria">
                        <a href="#" class="bt-galeria">Ver galería</a>
                </div>
            </div>
            <div class="md-fc-main-style-item-img md-mobile-no-display">
                <img src="/images/main-img.png" alt="main-img" class="md-img-main">
            </div>
        </div>
    </main>
    <footer class="footer_style">
        <%- include("partials/footer") %>        
    </footer>
</body>
</html>