<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>  
    <link rel="stylesheet" href="/css/styles_Login.css">
    <title>DevVision - Ingresar</title>
</head>

<body class="bg-grey">
    <header class="header_style">    
        <%- include("partials/header") %>
     </header>
    <main class="main_style">
        <form action="/login" method="POST" class="login-form">
                <label class="label-login-form" for="email" >Email</label>
                <input class="input-login-form" type="email" id="email" name="email">
                <label class="label-login-form" for="password" >Contrase単a</label>
                <input class="input-login-form"  type="password" id="password" name="password">
                <a class="forgot-login-form" href="">多Has olvidado tu contrase単a?</a>
                <a class="register-login-form" href="/register">多No tenes cuenta? Crear una cuenta</a>
                <button class="buttom-login-form" type="submit">Ingresar</button>
        </form>
    </main>
    <footer class="footer_style">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>