<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head") %>  
        <link rel="stylesheet" href="/css/styles_PL.css">
        <title>DevVision - Lista de productos</title>
    </head>

    <body class="bg-grey">

        <header class="header_style">    
            <%- include("partials/header") %>
         </header>

        <main class="main_style PC-md-w PC-md-flex PC-md-m PC-md-relative">
            <div class="sitio-en-contruccion">
                <img src="/images/Sitio-en-contruccion.png" alt="Sitio-en-contruccion">
            </div>
        </main>
        
        <footer class="footer_style">
            <%- include("partials/footer") %>
        </footer>
</body>
</html>
