<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head") %>  
        <link rel="stylesheet" href="/css/styles_PC.css">
        <title>DevVision - Carrito</title>
    </head>

    <body class="bg-grey">

        <header class="header_style">    
            <%- include("partials/header") %>
         </header>

         <main class="main_style PC-md-w PC-md-flex PC-md-m PC-md-relative">
            <section class="PC-md-border-1">

                <article class="PC-container-product">
                    <article class="PC-center-img PC-img-w PC-margin-10">
                        <img class="PC-img" src="/images/img-producto-1.png" alt="imagen del producto">
                    </article>

                    <article class="PC-text-w PC-margin-10 PC-flex PC-just-content">
                        <div class="PC-produc-text PC-md-column">
                            <p>Art.</p>
                            <p>12345.A</p>
                        </div>

                        <div class="PC-produc-text PC-md-column">
                            <p>Talle</p>
                            <p>M</p>
                        </div>
                    
                        <div class="PC-produc-text PC-md-column">
                            <p>Color</p>
                            <p>Fucsia</p>
                        </div>
                        
                        <div class="PC-produc-text PC-md-column">
                            <p>P.U.</p>
                            <p>$60.000</p>
                        </div>
                    
                        <div class="PC-border PC-md-hide"></div>

                        <div class="PC-produc-text PC-md-column PC-md-hide">
                            <p>- 2 + </p>
                            <p>$120.000</p>
                        </div>

                        <div class="PC-hide PC-produc-text PC-md-column">
                            <p>Cantidad</p>
                            <p>- 2 + </p>
                        </div>

                        <div class="PC-border-left"></div>
                        
                        <div class="PC-hide PC-produc-text PC-md-column">
                            <p>Total</p>
                            <p>$120.000</p>
                        </div>

                    </article>
                </article>


                <article class="PC-container-product">
                    <article class="PC-center-img PC-img-w PC-margin-10">
                        <img class="PC-img" src="/images/img-producto-2.png" alt="imagen del producto">
                    </article>

                    <article class="PC-text-w PC-margin-10 PC-flex PC-just-content">
                        <div class="PC-produc-text PC-md-column">
                            <p>Art.</p>
                            <p>12345.A</p>
                        </div>

                        <div class="PC-produc-text PC-md-column">
                            <p>Talle</p>
                            <p>M</p>
                        </div>
                    
                        <div class="PC-produc-text PC-md-column">
                            <p>Color</p>
                            <p>Fucsia</p>
                        </div>
                        
                        <div class="PC-produc-text PC-md-column">
                            <p>P.U.</p>
                            <p>$60.000</p>
                        </div>
                    
                        <div class="PC-border PC-md-hide"></div>

                        <div class="PC-produc-text PC-md-column PC-md-hide">
                            <p>- 1 + </p>
                            <p>$60.000</p>
                        </div>

                        <div class="PC-hide PC-produc-text PC-md-column">
                            <p>Cantidad</p>
                            <p>- 1 + </p>
                        </div>

                        <div class="PC-border-left"></div>
                        
                        <div class="PC-hide PC-produc-text PC-md-column">
                            <p>Total</p>
                            <p>$60.000</p>
                        </div>

                    </article>
                </article>

                <article class="PC-container-product">
                    <article class="PC-center-img PC-img-w PC-margin-10">
                        <img class="PC-img" src="/images/img-producto-3.png" alt="imagen del producto">
                    </article>

                    <article class="PC-text-w PC-margin-10 PC-flex PC-just-content">
                        <div class="PC-produc-text PC-md-column">
                            <p>Art.</p>
                            <p>12345.A</p>
                        </div>

                        <div class="PC-produc-text PC-md-column">
                            <p>Talle</p>
                            <p>M</p>
                        </div>
                    
                        <div class="PC-produc-text PC-md-column">
                            <p>Color</p>
                            <p>Fucsia</p>
                        </div>
                        
                        <div class="PC-produc-text PC-md-column">
                            <p>P.U.</p>
                            <p>$60.000</p>
                        </div>
                    
                        <div class="PC-border PC-md-hide"></div>

                        <div class="PC-produc-text PC-md-column PC-md-hide">
                            <p>- 3 + </p>
                            <p>$180.000</p>
                        </div>

                        <div class="PC-hide PC-produc-text PC-md-column">
                            <p>Cantidad</p>
                            <p>- 3 + </p>
                        </div>

                        <div class="PC-border-left"></div>
                        
                        <div class="PC-hide PC-produc-text PC-md-column">
                            <p>Total</p>
                            <p>$180.000</p>
                        </div>

                    </article>
                </article>

            </section>
        

            <section class="PC-md-border-2 PC-md-absolute-right" >

                <article class="PC-summary-buttons">

                        <div class="PC-summary">
                            <div class="PC-produc-text PC-md-product-text">
                                <p>Resumen</p>
                            </div>

                            <div class="PC-border-2"></div>
                            
                            <div class="PC-produc-text PC-md-product-text">
                                <p>Subtotal:</p>
                                <p>$360.000</p>
                            </div>
                            
                            <div class="PC-produc-text PC-md-product-text">
                                <p>Envio:</p>
                                <p>$3.000</p>
                            </div>

                            <div class="PC-produc-text PC-md-product-text">
                                <p>Dto.:</p>
                                <p>- $500</p>
                            </div>

                            <div class="PC-border-2"></div>

                            <div class="PC-produc-text PC-md-product-text">
                                <p>Total:</p>
                                <p>$363.000</p>
                            </div>
                        </div>

                
                        <form action="/" method="GET" class="PC-buttons">
                            <button type="submit" a href="/" class="PC-button-pay">Ir a pagar</button>

                            <button type="submit" a href="/" class="PC-button-keep-buying">Seguir comprando</button>
                        </form>
                </article>

            </section>

        </main>
        
        <footer class="footer_style">
            <%- include("partials/footer") %>
        </footer>
</body>
</html>
