<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>  
    <link rel="stylesheet" href="/css/styles_Register.css">
    <title>DevVision - Crear Cuenta</title>
</head>

<body class="bg-grey">
    <header class="header_style">    
        <%- include("partials/header") %>
     </header>
    <main class="main_style">
        <form action="/register" method="POST" class="register-form">

                <div class="div-name">
                    <label class="label-register-form name" for="name" >Nombre</label>
                    <input class="input-register-form name" type="text" id="name" name="name" required>
            
                    <label class="label-register-form surname" for="surname" >Apellido</label>
                    <input class="input-register-form surname" type="text" id="surname" name="surname" required>
                </div>

                <label class="label-register-form" for="email" >Email</label>
                <input class="input-register-form" type="email" id="email" name="email" required>

                <label class="label-register-form" for="birth" >Fecha de Nacimiento</label>
                <input class="input-register-form" type="date" id="birth" name="birth">

                <label class="label-register-form" for="address" >Domiciolio</label>
                <input class="input-register-form domicilio" type="text" id="address" name="address" required>
                <select class="input-register-form tipo-domicilio" name="choose" id="choose" required>
                    <option value="Casa">Casa</option>
                    <option value="Departamento">Depatamento</option>
                </select>
                
                <label class="label-register-form" for="zipcode" >Codigo Postal</label>
                <input class="input-register-form" type="text" id="zipcode" name="zipcode" required> 
                
                <label class="label-register-form" for="password" >Contraseña</label>
                <input class="input-register-form"  type="password" id="password" name="password" required>

                <label class="label-register-form" for="confirmPassword" >Confirmar contraseña</label>
                <input class="input-register-form"  type="password" id="confirmPassword" name="confirmPassword" required>

                <a class="register-register-form" href="/login">¡Ya tengo una cuenta! Ingresar</a>

                <button class="buttom-register-form" type="submit">Crear Cuenta</button>
        </form>
    </main>
    <footer class="footer_style">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>