<div class="footer-menu md-fc-footer-menu">
    <div class="mb-20 w-332">
        <section class="mb-20">
            <h4 class="mb-10">MEDIOS DE PAGO</h4>
            <div class="fc-footer-menu-item-logos-pagos">
                <img src="/images/visa-logo.png" alt="visa-logo" class="footer-logo">
                <img src="/images/master-card-logo.png" alt="master-card-logo" class="footer-logo">
                <img src="/images/american-express-logo.png" alt="american-express-logo" class="footer-logo">
                <img src="/images/dinners-club-logo.png" alt="dinners-club-logo" class="footer-logo">
                <img src="/images/pay-pal-logo.png" alt="pay-pal-logo" class="footer-logo">
                <img src="/images/banelco-logo.png" alt="banelco-logo" class="footer-logo">
                <img src="/images/cabal-logo.png" alt="cabal-logo" class="footer-logo">
                <img src="/images/naranja-logo.png" alt="naranja-logo" class="footer-logo">
                <img src="/images/tarjeta-shopping-logo.png" alt="tarjeta-shopping-logo" class="footer-logo">
                <img src="/images/mercado-pago-logo.png" alt="mercado-pago-logo" class="footer-logo">
                <img src="/images/argencard-logo.png" alt="argencard-logo" class="footer-logo">
                <img src="/images/pago-facil-logo.png" alt="pago-facil-logo" class="footer-logo">
                <img src="/images/rapi-pago-logo.png" alt="rapi-pago-logo" class="footer-logo">
            </div>
        </section>
        <section class="fc-footer-menu-item-formas-envio">
            <h4 class="mb-10">FORMAS DE ENVÍO</h4>
            <div class="fc-footer-menu-item-logos-pagos">
                <img src="/images/dhl-logo.png" alt="dhl-logo" class="footer-logo">
                <img src="/images/fedex-logo.png" alt="fedex-logo" class="footer-logo">
                <img src="/images/ups-logo.png" alt="ups-logo" class="footer-logo">
            </div>
        </section>
    </div>
    <div>
        <section class="w-257 mb-20">
            <h4 class="mb-10">CONTACTO</h4>
            <ul type="none">
                <li><i class="fa-solid fa-phone-flip w-25"></i>549841651</li>
                <li><i class="fa-solid fa-at w-25"></i>servicioalcliente@devvision.com</li>
                <li><i class="fa-solid fa-location-dot w-25"></i>Buenos Aires - Argentina</li>
            </ul>
        </section>
        <section class="mb-20 w-130">
            <h4 class="mb-10">REDES SOCIALES</h4>
            <ul type="none" class="redes-nav">
                <li>
                    <a href="/"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="/"><i class="fa-brands fa-facebook"></i></a>
                </li>
            </ul> 
        </section>
    </div>
    <div>
        <section class="mb-20">
            <h4 class="mb-10">SUSCRÍBETE AL NEWSLETTER!</h4>
            <form action="/" method="POST" class="fc-email-form">
                <input type="email" placeholder="Email" class="fc-email-form-bar" id="email" name="email" autocomplete="on" required>
                <button type="submit" class="plane-button">
                    <div class="bl-1 h-20 p-3 bg-none">
                        <i class="fa-regular fa-paper-plane bg-none"></i>
                    </div>
                </button>
            </form>
        </section>
        <section class="w-150">
            <h4 class="mb-10">SEGURIDAD Y CERTIFICACIONES</h4>
            <div>
                <img src="/images/basc-logo.png" alt="basc-logo-logo" class="footer-logo">
                <img src="/images/qr-segurity.png" alt="qr-segurity-logo" class="footer-logo">
            </div>
        </section>
    </div>
</div>
<section class="footer-copyright">
    <p>Copyright © 1999-2023 DevVision S.A.</p>
</section>