<div class="fc-header">
    <div class="fc-header-item-logo">
        <img src="/images/logo_devvision.png" alt="Logo-DeVVision" class="header_logo">
    </div>
    <div class="fc-header-item-nav-bar md-mobile-no-display ">
        <ul type="none" class="fc-nav-bar">
            <li class="fc-nav-bar-item"><a href="/">Home</a></li>
            <li class="fc-nav-bar-item"><a href="/products">Nuestros productos</a></li>
            <li class="fc-nav-bar-item"><a href="/products/news">Lo último</a></li>
            <li class="fc-nav-bar-item"><a href="/products/discounts">Descuentos</a></li>
            <%  if (userData) {
                if(userData.id_category == '1') {%>
            <li class="fc-nav-bar-item"><a href="/products/create">Nuevo producto</a></li>
            <li class="fc-nav-bar-item"><a href="/users/list">Listado de usuarios</a></li>
            <%} }%>
        </ul>
    </div>
    <div class="fc-header-item-menu">
        <ul type="none" class="fc">
            <li class="fc-header-item-icon">
                <% if(userData) {%>
                    <a href="/users/detail/<%= userData.id %>"><%= userData.first_name[0] + userData.last_name[0] %></a>
                <%}else {%>
                    <a href="/users/login"><i class="fa-regular fa-user color_white"></i></a>
                <%}%>
            </li>
            <li class="fc-header-item-icon shopping-cart">
                <a href="/productcart" class="shopping-cart"><i class="fa-solid fa-cart-plus color_white"></i></a>
                <div class="products-number"><div class="w-100">0</div></div>
            </li>
            <li class="icon-burguer-menu md-higher-mobile-no-display">
                <i class="fa-solid fa-bars color_white"></i>
            </li>
            <li>
            </li>
        </ul>
    </div>
</div>