.card {
    
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card .number {
    font-size: 2em;
    color: #99c933; /* Color numeros */
}
.id{
    margin-top: 2px;
    color: rgb(204, 202, 202);
    margin-bottom: 5px;
}
.container-photo{
    text-align: center;
    
}
.photo {
    max-width: 120px;
    border-radius: 100%;
    border: #ddd;
}
.title {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.fz-14{
    font-size: 14px;
}
.linkIcon{
    text-decoration: none;
    margin: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: large;
}
.linkIcon:visited{
    color: unset
}

.containerIcon{
    display: flex;
    justify-content: right;

}

/* moviles */
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
    .containerIcon{
        display: flex;
        justify-content: space-around;
    
    }
}