.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}
.card {
    width: 25%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}

.card .number {
    font-size: 2em;
    color: #007bff; /* Color numeros */
}

/* moviles */
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}